.dpd-panel {
    margin: 0 0 10px;
    font: 13px Arial;
}

    .dpd-panel__heading {
        height: 40px;
        padding: 0 15px;
        background: rgb(220, 0, 50);
        color: #fff;
        line-height: 40px;
    }

    .dpd-panel__body {
        padding: 15px;
        background: rgb(230, 231, 231);
    }

.dpd-form {}

    .dpd-form__group {
        margin: 0 0 10px;
        overflow: hidden;
    }

      .dpd-form__group--dimensions {
        display: flex;
        margin-bottom: 0;
      }

          .dpd-form__group--dimensions .dpd-form__label {
            width: 60%;
            text-align: right;
            font-size: 11px;
          }

          .dpd-form__group--dimensions .dpd-form__control {
            width: 40%;
          }

    .dpd-form__label {
        float: left;
        width: 30%;
        padding-right: 10px;
        box-sizing: border-box;
    }

    .dpd-form__control {
        padding: 5px 15px;
        border: 0;
        overflow: hidden;
        font: 13px Arial;
        box-sizing: border-box;
        width: 70%;
    }

    .dpd-form__control.error {
        border: 2px solid #a90034 !important;
    }

    .dpd-button {
        line-height: 25px;
        background: #DC0032;
        font-family: "dpd_light", "arial", "sans-serif";
        color: #fff !important;
        font-size: 13px;
        padding: 0px 30px;
        outline: none;
        border: none;
        cursor: pointer;
    }

    .dpd-button:disabled {
        opacity: 0.3;
    }

.dpd-form-dropdown {
  padding: 15px 15px 0;
  margin-left: -15px;
  margin-right: -15px;
  background: #CAC4BE;
  overflow: hidden;
}

  .dpd-form-dropdown__title {
    position: relative;
    display: block;
    margin: 0 0 10px;
    font: 13px "dpd_light", "arial", "sans-serif";
    color: #424143;
    text-decoration: none;
  }

    .dpd-form-dropdown__title:before,
    .dpd-form-dropdown__title:after {
      position: absolute;
      display: block;
      background: #DC0032;
      content: '';
    }

    .dpd-form-dropdown__title:before {
      right: 4px;
      top: 3px;
      width: 10px;
      height: 4px;

    }

    .dpd-form-dropdown__title:after {
      top: 0px;
      right: 7px;
      width: 4px;
      height: 10px;
    }

  .dpd-form-dropdown__content {
    max-height: 0;
    overflow: hidden;
  }

  .dpd-form-dropdown--show .dpd-form-dropdown__title:after {
    display: none;
  }

  .dpd-form-dropdown--show .dpd-form-dropdown__content {
    max-height: 200px;
  }

  .dpd-dimensions-remove {
    display: block;
    width: 20px;
    height: 4px;
    text-indent: -9999px;
    margin-top: 5px;
    background: #DC0032;
    cursor: pointer;
  }

.dpd-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

    .dpd-table thead td {
    }

    .dpd-table td {
        height: 36px;
        padding: 2px 10px;
        background: #fff;
        border: 1px solid rgb(230, 231, 231);
    }

.dpd-result-panel {
    display: none;
}

    .dpd-result-panel .dpd-panel__body {
        padding: 0;
    }

.dpd-wrap {
    position: relative;
}

  .dpd-wrap .dpd-table tfoot {
    display: none;
  }

  .dpd-wrap--absolute {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
  }

  .dpd-wrap-short .dpd-table tr + tr {
    display: none;
  }

  .dpd-wrap-short.dpd-wrap--result .dpd-table tfoot {
    display: table-footer-group;
  }

.dpd-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    opacity: 0.9;
}

.dpd-error-box {
    position: absolute;
    left: 50%;
    top: 100px;
    width: 400px;
    height: auto;
    margin-left: -200px;
}

.dpd-loader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

    .dpd-loader__mask {}
    .dpd-loader__spiner {
        position: absolute;
        left: 50%;
        top: 50%;
        padding: 6px 12px;
        border: 2px solid #CAC4BE;
        background: #fff;
        text-align: center;
        transform: translate(-50%, -50%);
    }
